# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Cache files for GoLand
*.idea/

# Temp files
*~
*.swp
tmp/
bak/

# Commitizen
node_modules/
package-lock.json

# Binaries for programs and plugins
bin/
app/
release*/
gotest
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
dataset/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
